// .wrapper-mynft {
//     width: 300px;
//     height: 500px;
//     background: white;
//     margin-top: 15px;
//     margin-left: 10px;
//     border-radius: 10px 10px 10px 10px;
//     box-shadow: 0;
//     transform: scale(0.95);
//     transition: box-shadow 0.5s, transform 0.5s;
//     &:hover {
//       transform: scale(1);
//       box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
//     }

//     .container-mynft {
//       width: 100%;
//       height: 100%;

//       .top-mynft {
//         height: 80%;
//         width: 100%;
//         background: url("../../../images//thumb-1920-961795.jpg") no-repeat center center;
//         -webkit-background-size: 100%;
//         -moz-background-size: 100%;
//         -o-background-size: 100%;
//         background-size: 100%;
//       }
//       .bottom-mynft {
//         width: 100%;
//         height: 20%;
//         transition: transform 0.5s;
//         &.clicked {
//           transform: translateX(-50%);
//         }
//         .details-mynft {
//           text-align: center;
//           padding: 20px;
//           background-color: #e7e4e4;

//           h3 {
//             color : black;
//           }
//         }
//       }
//     }
//   }

.NFT-buttons {
  margin: 10px;
  max-height: 375px;
  max-width: 275px;

  .card-container {
    margin: 5px;
    min-width: 265px;
    width: calc(100% - 5px);
    min-height: 375px;
    border-radius: 8px;

    .card-child-container {
      height: 100%;
      max-height: 375px;
      max-width: 275px;

      .description-container {
        padding: 10px;
        padding-top: 0px;

        .nft-site {
          font-size: small;
          font-weight: bold;
          height: 20px;
          color: gray;
          margin-top: 10px;
        }

        .nft-description {
          font-size: medium;
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }
      .card-image {
        width: 100%;
        height: 100%;
        max-height: 258px;
        max-width: 258px;
        min-height: 258px;
        margin: 5px;
        border-radius: 5px;
      }
    }
  }
  .all-buttons {
    display: flex;
    flex-wrap: wrap;

    .mynft-button {
      margin-left: 5px;
      margin-top: 10px;
      width: calc(50% - 5px);
    }

    .fractional-button {
      width: 100%;
      margin-left: 5px;
      margin-top: 10px;
    }
  }
}
