.main-container-mynft {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.header-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.header-mynft {
  text-align: center;
}

.alert {
  width: 100%;
  height: 5vh;
  margin-left: 10px;
  margin-right: 10px;
}
